
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNGTestSuit" >

    <test name="widgetTab" >
        <groups>

            <run>
                <exclude name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name ="testCases.widgets.WidgetTab">
                <methods>


                </methods>
            </class>
        </classes>

    </test>

</suite>


